* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* Fonts */

body {
    background: url(../images/cheftableback.jpg);
    background-size: 100%;
}


.part1 {
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    font-size: 40pt;
    text-transform: uppercase;
    color: white;

}

.part1r {
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    font-size: 15pt;
    text-transform: uppercase;
    color: white;

}

.part2 {
   font-family: 'Hind', sans-serif;
    font-weight: 300;
    font-size: 40pt;
    text-transform: uppercase;
    color: white;
}


.part2r {
    font-family: 'Hind', sans-serif;
     font-weight: 300;
     font-size: 12pt;
     text-transform: uppercase;
     color: white;
 }

.part3 {
    font-family: 'Hind', sans-serif;
     font-weight: 500;
     font-size: 15pt;
     text-transform: uppercase;
     color: white;
 }

 .part4 {
    font-family: 'Hind', sans-serif;
     font-weight: 300;
     font-size: 15pt;
     text-transform: uppercase;
     color: white;
 }

 #guess {
     text-align: left;
 }

 /* Header */

header {
    text-align: center;
    padding: 10px;
    margin: 40px auto;
    margin-bottom: 10px;
    width: 90%;
}

 /* GAME INTRO */

.gamecontainer {
    width: 50%;
    margin: 0px auto;
    text-align: center;
    background: linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5)
    );
    height: 700px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#game {
    display: none;
}

.resultcontainer {
    display: hidden;
}

#result {
    background-color: rgba(255, 255, 255, 0.3);
    width: 80%;
}

.button {
    text-align: center;
    padding: 20px 20px;
    margin: 15px auto;
    margin-top: 55px;
    width: 20%;
    background-color: #25282A;
    border: none;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: white;
    border: #25282A 2px;
    color:#25282A;
}

.button:active {
    background-color: #505759;
    color:white;
}

/* TIP */

.tip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .hint {
    visibility: hidden;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    text-align: left;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 4px;
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    font-size: 13pt;
    text-transform: none;
   
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tip:hover .hint {
    visibility: visible;
  }


 /* GAME PLAY */

.next-button {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 15px auto;
    margin-top: 15px;
    width: 90%;
    background-color: #25282A;
    border: none;
    border-radius: 4px;
    transition-duration: 0.4s;
    font-weight: 600;
}
.row{
    padding-top: 10px;
    margin-top: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    
}

.displayword {
    border: 1px solid white ;
    padding: 10px auto;
    padding-top: 60px;
    padding-bottom: 5px;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 90%;
    height: 200px;
}

.info {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px auto;
    width: 100%;
    height: 180px;
    text-align: left;
}

#chefimage {
    height: 200px;
    widows: 200px;
}




